.header__wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
}

.header__logo {
  margin-top: 2%;
  margin-left: 48px;
}

.bitcoin-title {
  margin-left: 2%;
  margin-top: 2%;
}
